<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }} {% if sub != 0 %}({{ sub }}){% endif %} - wiki</title>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div id="skin_content">
			<div id="skin_nav">
				<div class="skin_container">
					<li class="skin_nav_li">
						<a href="/">{{ wiki_set[1] }}</a>
					</li>
					<li class="skin_nav_li">
						<a href="/recent/changes">최근 변경</a>
					</li>
					<li class="skin_nav_li">
						<a href="/recent/discuss">최근 토론</a>
					</li>
					<div id="skin_nav_search">
						<input id="skin_nav_search_box">
					</div>
				</div>
			</div>
			<div id="skin_top">
				<div class="skin_container">
					<div class="skin_title">
						{{ title }}
						{% if sub != 0 %}
							<span id="sub">({{ sub }})</span>
						{% endif %}
					</div>
					<div class="skin_date">
						{% if wiki_set[2] != 0 %}
							{{ wiki_set[2] }}에 마지막으로 편집되었습니다.
						{% else %}
							해당 문서가 존재하지 않습니다. 새 문서를 만들어보세요.
						{% endif %}
					</div>
				</div>
			</div>
			<div id="skin_middle">
				<div class="skin_container">
					{% if menu != 0 %}
					<span id="skin_toolbar">
						{% for button in menu %}
								<a href="/{{button[0]}}" class="skin_toolbar_button">{{button[1]}}</a>
						{% endfor %}
					</span>
					{% endif %}
					<div id="skin_data">
						{{ data|safe }}
					</div>
				</div>
			</div>
			<div id="skin_bottom">
				<div class="skin_container">
					<div class="skin_footer"> {{ wiki_set[0] }}</div>
					<div class="skin_footer"><a href="https://github.com/BadaWikiDev/VientoEngine">Powered by VientoEngine</a></div>
				</div>
			</div>
		</div>
	</body>
</html>