html {
    height: 100%;
}

body {
    font-family: NanumBarunGothic, sans-serif !important;
    font-size: 14.5px;
    padding: 0;
    margin: 0;
    height: 100%;
}

.skin_container {
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    width: 900px;
}

#skin_nav {
    background-color: white;
    display: flex;
    font-size: 16px;
}

#skin_top {
    height: 40vh;
    background: linear-gradient(to right, #00afff, #008dcf);
    font-size: 46px;
    font-weight: 600;
    color: white;
    display: flex;
}

.skin_nav_li {
    display: inline-block;
    padding-right: 20px;
}

#skin_nav_search {
    display: inline;
    float: right;
}

.skin_title {
    vertical-align: text-bottom;
    margin-top: 190px;
    margin-top: calc(40vh - 110px);
}

.skin_date {
    font-size: 14.5px;
    font-weight: 500;
}

a {
    background: linear-gradient(to right, #00afff, #008dcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.skin_footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#skin_toolbar {
    margin-bottom: 15px;
    font-size: 16px;
    background: linear-gradient(to right, #00afff, #008dcf);
    padding: 7px 12px;
    float: right;
    display: inline-block;
}

.skin_toolbar_button {
    padding: 10px;
    color: white;
    -webkit-text-fill-color: unset;
}

#skin_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
#skin_content {
    min-height: 100%;
    position: relative;
}

input {
    width: 100%;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
}

#sub {
    font-size: 40px;
}
